<div class="wrapper">
    <app-sidebar></app-sidebar>
    <div class="content-page">
        <div class="content">
            <app-header></app-header>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);"
                                            >Beyond</a
                                        >
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="javascript: void(0);"
                                            >Managements</a
                                        >
                                    </li>
                                    <li class="breadcrumb-item active">
                                        Contacts & Questions
                                    </li>
                                </ol>
                            </div>
                            <h4 class="page-title">Contacts & Questions</h4>
                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <mat-tab-group
                                    mat-stretch-tabs="false"
                                    mat-align-tabs="start"
                                    (selectedTabChange)="onChangeTab($event)"
                                >
                                    <mat-tab
                                        *ngFor="let item of tabList"
                                        label="{{ item.title }}"
                                    >
                                        <div class="mt-3" [ngSwitch]="item.key">
                                            <ng-template
                                                [ngSwitchCase]="'Contact'"
                                                ><app-contact-list-tab
                                                    *ngIf="item.isActive"
                                                ></app-contact-list-tab
                                            ></ng-template>
                                            <ng-template
                                                [ngSwitchCase]="'Question'"
                                            >
                                                <app-question-list-tab
                                                    *ngIf="item.isActive"
                                                ></app-question-list-tab
                                            ></ng-template>
                                            <ng-template ngSwitchDefault
                                                >Not found</ng-template
                                            >
                                        </div>
                                    </mat-tab>
                                </mat-tab-group>
                                <!-- end col-->
                            </div>
                        </div>
                        <!-- end card-body-->
                    </div>
                    <!-- end card-->
                </div>
                <!-- end col -->
            </div>
        </div>
    </div>
</div>
